<html>
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="app.css">
        <title>Document</title>
</head>

<body>

    <div id="datepicker">
    Start Date   <vuejs-datepicker v-model="date"></vuejs-datepicker><br>
    Number of days: <br><input v-model="numberDays" type="text"
@change="renderCalendar()">
    <!-- Country Code: <br><input v-model="countryCode" type="text"
@change="sum(date, numberDays)"> -->


        <span></span>


        <br><br>

        <div v-for="head in header">
        <div class="month" >
            <ul>
              <li ><span style="font-size:18px">{{ head.month }}-{{ head.year }} </span></li>
            </ul>
        </div>

          <ul class="weekdays">
            <li>S</li>
            <li>M</li>
            <li>T</li>
            <li>W</li>
            <li>T</li>
            <li>F</li>
            <li>S</li>
          </ul>

          <ul class="days" >
                <li >{{ head.days }}</li>
                <!--<li><span class="active">20</span></li>-->
          </ul>
        </div>




    <pre >{{ $data }}</pre>

    </div>






    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <script src="main.js"></script>




</body>
</html>
